.btn-create {
    /* Aquí puedes agregar tus estilos personalizados */
    color: #000;
    text-decoration: none;
    /* Otros estilos... */
  }
  .btn-create:hover{
    color:#fff;
  }
  .button-create{
    background-color: rgb(98, 190, 157);
  }
  /* ShowProduct.css */

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #f0f0f0;
  }
  
  .btn-create {
    text-decoration: none;
    color: #fff;
  }
  
  .button-create {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-create:hover {
    background-color: #0056b3;
  }
  .bDelete{
    background-color: red;
  }