body,
html {
  background-color: rgba(236, 236, 236, 1);
  height: 100%;
  margin: 0;
}
  h2 {
    padding: 35px;
    margin-left: 240px; /* Ajusta el valor según el ancho de la barra lateral */
  }
.container {
  display: flex;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar h3 {
  margin-top: 0;
}

.sidebar-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.menu-center {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 45px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 240px; /* Ajusta el valor según el ancho de la barra lateral */
}
.menu-center {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 45px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-center h3 {
  color: rgba(157, 149, 149, 0.7);
  padding-bottom:35px;
}

.menu-center button {
  padding: 15px;
  background-color: rgba(236, 236, 236, 1);
  border: none;
  margin: 8px;
  border-radius: 20px;
}

#contenedor {
  display: table;
}

#contenidos {
  display: table-row;
}

#columna1, #columna2, #columna3 {
  display: table-cell;
}
.sidebar {
  width: 200px;
  background-color: #23c4a7;
  color: white;
  padding: 20px;
  height: 100%; /* Agrega esta propiedad */
  position: fixed; /* Agrega esta propiedad */
  top: 10; /* Agrega esta propiedad */
  left: 10; /* Agrega esta propiedad */
  border-radius: 20px;
}
.back-button{
  margin-left: 800px;
  padding: 10px;
  align-content: center;
}
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #23c4a7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1d9d87;
}
/* Resto de estilos... */
#boton-eliminar{
  background-color: red;
}
#boton-eliminar:hover{
  background-color: rgb(149, 32, 32);
}
#boton-crear{
  background-color: green;
}
#boton-crear:hover{
  background-color:#23c4a7;
}
#boton-editar{
  background-color: blue;
}
#boton-editar:hover{
  background-color:#23c4a7;
}