
#columna1, #columna2, #columna3 {
  display: table-cell;
}
.sidebar {
  width: 200px;
  background-color: #23c4a7;
  color: white;
  padding: 20px;
  height: 100%; /* Agrega esta propiedad */
  position: fixed; /* Agrega esta propiedad */
  top: 10; /* Agrega esta propiedad */
  left: 10; /* Agrega esta propiedad */
  border-radius: 20px;
}
/* Resto de estilos... */