/* styles.css */
.sidebar {
    width: 200px;
    background-color: #23c4a7;
    color: white;
    padding: 20px;
    height: 100%; /* Agrega esta propiedad */
    position: fixed; /* Agrega esta propiedad */
    top: 0; /* Agrega esta propiedad */
    left: 0; /* Agrega esta propiedad */
    border-radius: 20px;
    position: fixed;
    bottom: 20; 
    z-index: 999;
    margin-top: 90px;
  }

  .sidebar h4 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .sidebar-buttons button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #1c8673;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  .sidebar-buttons button:hover {
    background-color: #197a64;
  }
  .sidebar {
    /* Estilos para el contenedor principal del sidebar */
  }
  
  .sidebar h4 {
    /* Estilos para el título "Menu" */
  }
  
  .sidebar-buttons {
    /* Estilos para el contenedor de los botones */
  }
  
  .button-container {
    /* Estilos para cada contenedor de botón e imagen */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    margin-bottom: 10px; /* Espacio entre cada botón */
  }
  
  .button-container img {
    /* Estilos para la imagen */
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
  }
  
  .button-container button {
    /* Estilos para el botón */
    /* Agrega estilos adicionales según tus necesidades */
  }
  
  /* Resto de estilos... */