<<<<<<< HEAD
body,
html {
  background-color: rgba(236, 236, 236, 1);
  height: 100%;
  margin: 0;
  background-color: #ECECEC;
  min-height: 100vh;
  width: 100%;
}

h2 {
  padding: 35px;
  margin-left: 240px;
  /* Ajusta el valor según el ancho de la barra lateral */
}

.container {
  display: flex;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h3 {
  margin-top: 0;

}

.App-header {
  min-height: 100vh;

  .sidebar-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .menu-center {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 240px;
    /* Ajusta el valor según el ancho de la barra lateral */
  }

  .menu-center {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-center h3 {
    color: rgba(157, 149, 149, 0.7);
    padding-bottom: 35px;
  }

  .menu-center button {
    padding: 15px;
    background-color: rgba(236, 236, 236, 1);
    border: none;
    margin: 8px;
    border-radius: 20px;
  }

  #contenedor {
    display: table;
  }

  #contenidos {
    display: table-row;
  }

  #columna1,
  #columna2,
  #columna3 {
    display: table-cell;
  }

  .sidebar {
    width: 200px;
    background-color: #23c4a7;
    color: white;
    padding: 20px;
    height: 100%;
    /* Agrega esta propiedad */
    position: fixed;
    /* Agrega esta propiedad */
    top: 10;
    /* Agrega esta propiedad */
    left: 10;
    /* Agrega esta propiedad */
    border-radius: 20px;
    position: fixed;
  }
}
=======
/* styles.css */

/* Estilos generales */
html {
  background-color: rgba(236, 236, 236, 1);
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 300px;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 300px;
}

/* Estilos del componente "Login" */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#columna2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.menu-center {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  margin-right: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.back-button{
  margin-left: 800px;
  padding: 10px;
  align-content: center;
}
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #23c4a7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1d9d87;
}

.menu-center button {
  padding: 15px;
  background-color: #23c4a7;
  border: none;
  margin: 8px;
  border-radius: 20px;
}

.menu-center button:hover{
  background-color: #1d9d87;
  color:#fff;
}
>>>>>>> 96ad4d2307dcbc336711fe35845974062e7df82a
